<section class="reviews">
  <h2 class="reviews-title">Reviews</h2>
  <ul class="reviews-list">
    <li class="review-card">
      <img src="/FocusFrameProject/img/man.png" alt="Abraham Baker" />
      <div class="review-content">
        <h3>Abraham Baker</h3>
        <p class="status">Student</p>
        <p class="comment">I am very pleased that I decided to enroll in photography school. The teachers turned out to be very talented and experienced professionals who share their knowledge and are dedicated to their work. I was able to expand my skills and discover my own style.</p>
        <p class="rating">★★★★☆</p>
      </div>
    </li>
    <li class="review-card">
      <img src="/FocusFrameProject/img/women.png" alt="Amanda Lowery" />
      <div class="review-content">
        <h3>Amanda Lowery</h3>
        <p class="status">Student</p>
        <p class="comment">The courses at the photography school exceeded all my expectations. I gained not only technical knowledge, but also inspiration and motivation to reach new heights in my creativity. Hands-on classes and workshops helped me understand different styles of photography.</p>
        <p class="rating">★★★★☆</p>
      </div>
    </li>
  </ul>
</section>
