
<section class="reviews">
  <h2>Reviews</h2>
  <ul>
      <li class="review-card">
          <img src="images/man.png" alt="Abraham Baker">
          <div class="review-content">
              <h3>Abraham Baker</h3>
              <p class="status">Student</p>
              <p class="comment">I am very pleased that I decided to enroll in photography school. The teachers turned out to be very talented and experienced professionals who share their knowledge and are dedicated to their work. I was able to expand my skills and discover my own style.</p>
              <p class="rating">★★★★☆</p>
          </div>
      </li>
      <li class="review-card">
          <img src="images/women.png" alt="Amanda Lowery">
          <div class="review-content">
              <h3>Amanda Lowery</h3>
              <p class="status">Student</p>
              <p class="comment">The courses at the photography school exceeded all my expectations. I gained not only technical knowledge, but also inspiration and motivation to reach new heights in my creativity. Hands-on classes and workshops helped me understand different styles of photography.</p>
              <p class="rating">★★★★☆</p>
          </div>
      </li>
  </ul>
</section>
<footer>
  <div class="footer-content">
      <!-- Sol bölüm: Focus.Frame, telefon numarası, adres -->
      <div class="footer-left">
          <p>FOCUS.FRAME</p>
          <p><a href="tel:+380685438912">+38 068 543 8912</a></p>
          <p>1678 S. Pioneer Road Salt Lake City UT 84104</p>
      </div>

      <!-- İkinci bölüm: Sosyal medya bağlantıları -->
      <div class="footer-center">
          <ul class="social-links">
              <li><a href="https://www.instagram.com/goit.turkiye/" target="_blank">INSTAGRAM</a></li>
              <li><a href="https://m.youtube.com/@GoITTurkey" target="_blank">YOUTUBE</a></li>
              <li><a href="https://www.facebook.com/people/GOIT-T%C3%BCrkiye/61558036560161/" target="_blank">FACEBOOK</a></li>
          </ul>
      </div>

      <!-- Üçüncü bölüm: Site bağlantıları -->
      <div class="footer-site-links">
          <ul class="site-links">
              <li><a href="#about">ABOUT US</a></li>
              <li><a href="#courses">OUR COURSES</a></li>
              <li><a href="#mentors">OUR MENTORS</a></li>
              <li><a href="#reviews">REVIEWS</a></li>
              <li><a href="#contacts">CONTACTS</a></li>
          </ul>
      </div>

      <!-- Dördüncü bölüm: Form -->
      <div class="footer-form">
          <form>
              <input type="email" placeholder="ENTER YOUR EMAIL" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
              <button type="submit">GO</button>
          </form>
      </div>
  </div>
  <p class="footer-left">Privacy Policy <br>Public Offering Agreement</p>
  <p class="footer-right">© 2024 Focus Frame.<br> All rights reserved.</p>
</footer>

